/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    font-weight:bold;
    color:#ff9955;
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
