/*
 * custom css
 */
a:hover, a:active {
    text-decoration: none;
}

#vm {
    display: none;
}
#loading {
    margin-bottom: 15px;
}
#error {
    display: none;
    margin-bottom: 15px;
}
.uk-icon-user{
    margin-left: 15px
    margin-right: 15px
}
